		<footer>
			<div>
				<!--%c
					SSR_EN_PRINTF("coming soon...");
					SSR_RU_PRINTF("скоро...");
				%-->
			</div>
			<div class="rr-footer-right-wrap">
				<div class="rr-footer-language">
					<!--%c
						SSR_EN_PRINTF("<a href=\"?lang=ru\">Русский</a>");
						SSR_RU_PRINTF("<a href=\"?lang=en\">English</a>");
					%-->
				</div>
				<div class="rr-footer-copyright">
					<!--%c
						SSR_EN_PRINTF("Ramil Khasanshin © 2025");
						SSR_RU_PRINTF("Рамиль Хасаншин © 2025");
					%-->
				</div>
			</div>
		</footer>
	</body>
</html>
