		<footer>
			<div>
				<span class="rr-lang-en">coming soon...</span>
				<span class="rr-lang-ru">скоро...</span>
			</div>
			<div class="rr-footer-right-wrap">
				<div class="rr-footer-language">
					<a class="rr-lang-en" onclick="rrSetLanguage('ru')">Русский</a>
					<a class="rr-lang-ru" onclick="rrSetLanguage('en')">English</a>
				</div>
				<div>|</div>
				<div class="rr-footer-copyright">
					<span class="rr-lang-en">Ramil Khasanshin © 2025</span>
					<span class="rr-lang-ru">Рамиль Хасаншин © 2025</span>
				</div>
			</div>
		</footer>
	</body>
	<script>
		function rrSetupLanguage() {
			// Defaults
			const languages = ['en', 'ru'];
			var currLang = 'en';
			var defaultLang = localStorage.rr_language || navigator.language || navigator.userLanguage || 'en';
			for (const lang of languages)
				if (defaultLang.startsWith(lang)) { currLang = lang; break; }
			// Make current visible, rest invisible
			for (const lang of languages) {
				var display = lang === currLang ? 'unset' : 'none';
				document.querySelectorAll(`.rr-lang-${lang}`).forEach(el => {
					el.style.display = display;
				});
			}
		}
		function rrSetLanguage(lang) { localStorage.setItem('rr_language', lang); rrSetupLanguage(); }
		rrSetupLanguage();
	</script>
</html>
