<!DOCTYPE html>
<html>
	<head>
		<title>rawr</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/res/fonts/Libertinus-Serif/import.css">
		<link rel="stylesheet" href="/res/fonts/Noto-Sans/import.css">
		<link rel="stylesheet" href="/styles.css">
	</head>
	<body>
		<nav>
			<div class="rr-logo">
				<span>RAWRMIL</span>
			</div>
			<div class="rr-horizontal-menu">
				<div class="rr-menu-link">
					<a href='<!--%c SSR_PRINT_LINK("/home"); %-->'>
						<!--%c
							SSR_RU_PRINTF("главная");
							SSR_EN_PRINTF("home");
						%-->
					</a>
				</div>
				<div class="rr-menu-link">
					<a href='<!--%c SSR_PRINT_LINK("/about"); %-->'>
						<!--%c
							SSR_RU_PRINTF("обо мне");
							SSR_EN_PRINTF("about");
						%-->
					</a>
				</div>
			</div>
			<div class="rr-menu-toggle">
				<label for="rr-menu-toggle">
					<!--%c
						SSR_RU_PRINTF("МЕНЮ");
						SSR_EN_PRINTF("MENU");
					%-->
				</label>
			</div>
		</nav>
			<input type="checkbox" id="rr-menu-toggle">
			<div class="rr-menu-overlay">
				<div class="rr-menu-link">
					<a href='<!--%c SSR_PRINT_LINK("/home"); %-->'>
						<!--%c
							SSR_RU_PRINTF("главная");
							SSR_EN_PRINTF("home");
						%-->
					</a>
				</div>
				<div class="rr-menu-link">
					<a href='<!--%c SSR_PRINT_LINK("/about"); %-->'>
						<!--%c
							SSR_RU_PRINTF("обо мне");
							SSR_EN_PRINTF("about");
						%-->
					</a>
				</div>
			</div>
